.MessageContainer {
  overflow: hidden;
  max-width: 35%;
  min-width: 5%;
  height: max-content;
  font-size: 1em;
  padding: 0.5em;
  color: white;
  word-wrap: break-word;
  margin: 0.3em 0;
}

.MyMsg {
  background-color: var(--MessageBox);
  align-self: flex-end;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.OtherMsg {
  background-color: var(--SecondMain);
  align-self: flex-start;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border: 1px solid var(--StrokeColor);
  color: var(--SecondaryText);
}
