.LoginForm_Container {
  width: 30%;
  background-color: var(--BgCard);
  padding: 1em;
}

.LoginForm_form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.LoginForm_form h3 {
  color: white;
  font-size: 1.5em;
  align-self: center;
}

.LoginForm_InputContainer {
  width: 100%;
  color: rgb(100, 100, 100);
  margin: 0.5em 0;
}

.LoginForm_InputContainer input {
  width: 100%;
  background-color: rgb(12, 11, 11);
  color: white;
  font-size: 1.1em;
  padding: 0.5em 1em;
  border: none;
  outline: none;
}

.error {
  margin: 0 0 0 1em;
  color: red;
}

.success {
  margin: 0 0 0 1em;
  color: var(--mainColor);
}
