.InputContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.InputContainer_Elements {
  font-size: 1.1em;
  font-weight: 550;
  padding: 1em;
}

.InputContainer input {
  width: 90%;
  outline: none;
  border: 1px solid grey;
}

.InputContainer_sendBtn {
  width: 10%;
  outline: none;
  border: none;
  color: white;
  background-color: rgb(13, 131, 82);
  cursor: pointer;
  height: 100%;
}
