:root {
  --mainColor: #9068fe;
  --mainRed: #fd5454;
  --mainColorHover: #a180fb;
  --mainTextColor: #9068fe;
  --SecondaryText: #5b5b66;
  --BgCard: #1c1c1c;
  /* --BgCard: #1d1e26; */
  --CardHover: #272735;
  --MainBG: #171c24;
  --StrokeColor: #4a494b;
  --SuccessColor: #06a08e;
  --WarningColor: #df7211;
  --CancelColor: #fe572f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}

#root {
  width: 100vw;
  height: 100vh;
}
