:root {
  --mainColor: #6c44a0;
  --mainRed: #fd5454;
  --mainColorHover: #815cb1;
  --mainTextColor: #c59df8;
  --SecondaryText: #adaaaa;
  --BgCard: #1c1c1c;
  --MainBG: #1f1c25;
  --StrokeColor: #4a494b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}

#root {
  width: 100vw;
  height: 100vh;
}
